## <span style="background:yellow"> Basics of Python</span>

#### <span style="color:Brown">Contents

- Various Datatypes in Python 
- Variable 
- Variables Assigment
- Print Formatting
- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

## <span style="background:yellow">  Way to Run Code In Jupyter notebook



 *  1-  Shift + Enter
 *  2-  Ctrl + Enter
 *  3-  Alt + Enter ( New Cell Automatically Create)

## <span style="color:Green"> Various DataTypes in Python

### <span style="color:Green"> Numbers

# <span style="color:Red">Python Tutorial

## <span style="color:Orange"> Welcome to Python Tutorial


- <span style="color:Green"> Datatype

In [156]:
1+1

2

In [157]:
4*5

20

In [158]:
2*10

20

In [159]:
10/2

5.0

In [160]:
10%2

0

In [161]:
10**2

100

In [25]:
##Check the Data types

In [26]:
type(True)

bool

In [27]:
type("Hello")

str

- ### <span style="color:Green"> Strings

In [28]:
"Hello"

'Hello'

In [29]:
'Muhammad Ahsan'

'Muhammad Ahsan'

In [30]:
type("Muhammad Ahsan")

str

- ### <span style="color:Blue"> Variable Assigment

In [31]:
# syntax
# var_name=values

a=10

In [32]:
type(a)

int

In [9]:
a='Muhammad Ahsan'

In [10]:
type(a)

str

In [11]:
## Mathematical operation with Variable Assigment

a=10
b=20

In [12]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b)) ##BODMAS

200
0.5
10
200.5

In [13]:
## Various Ways of Printing

print("Ali Raza")

Ali Raza

In [14]:
first_name='Muhammad'
last_name='Ahsan'

In [15]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Muhammad and last name is Ahsan

In [16]:
print("My First name is {first} and last name is {last}".format(last=last_name,first=first_name))

My First name is Muhammad and last name is Ahsan

In [17]:
len('Ahsan')

5

In [18]:
type(["1",2.9,3,4,5])

list

 # <span style="color:Green"> Boolean Variables

- Boolean values are the two constant objects False and True. 

- They are used to represent truth values (other values can also be considered
false or true). 

- In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

- The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

- They are written as False and True, respectively.

In [19]:
False

False

In [20]:
print(True,False)

True False

In [21]:
type(True)

bool

In [22]:
type(False)

bool

In [23]:
my_str='Muhammad Ahsan'

In [24]:
my_str.istitle()

True

In [25]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

False
False
False
True
False
False
False
False
False

## <span style="color:Red"> Boolean and Logical Operators
    
### <span style="color:brown"> **&** (and , When Both True, Then True) , **|** (Or, when any value True, then True)

In [26]:
True and True

True

In [27]:
True and False

False

In [28]:
True or False

True

In [29]:
True or True

True

In [30]:
str_example='Ali Raza'
my_str='Ahsan'

In [31]:
my_str.isalpha() or str_example.isnum()

True

# <span style="color:Green"> Lists

<span style="background:yellow">A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [32]:
type([])

list

In [33]:
lst_example=[]

In [34]:
type(lst_example)

list

In [35]:
lst=list()

In [36]:
type(lst)

list

In [37]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [38]:
len(lst)

6

In [39]:
type(lst)

list

### <span style="color:Green"> Append

In [40]:
#.append is used to add elements in the list
lst.append("Ahsan")

In [41]:
lst.append(["Ali","Raza"])

In [42]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Ahsan', ['Ali', 'Raza']]

In [43]:
##Indexing in List
lst[6]

'Ahsan'

In [44]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### <span style="color:Green"> Insert

In [45]:
## insert in a specific order

lst.insert(2,"Ikram")

In [46]:
lst

['Mathematics',
 'chemistry',
 'Ikram',
 100,
 200,
 300,
 204,
 'Ahsan',
 ['Ali', 'Raza']]

In [47]:
lst.append(["Hello","World"])

In [48]:
lst

['Mathematics',
 'chemistry',
 'Ikram',
 100,
 200,
 300,
 204,
 'Ahsan',
 ['Ali', 'Raza'],
 ['Hello', 'World']]

In [49]:
lst=[1,2,3]

In [50]:
lst.append([4,5])

In [51]:
lst

[1, 2, 3, [4, 5]]

### <span style="color:Green">Extend Method

In [52]:
lst=[1,2,3,4,5,6]

In [53]:
lst.extend([8,9])

In [54]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

###  <span style="color:Red">Various Operations that we can perform in List

In [55]:
lst=[1,2,3,4,5]

In [56]:
sum(lst)

15

In [57]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### <span style="color:Green"> Pop() Method

In [58]:
lst.pop()

5

In [59]:
lst

[1, 2, 3, 4]

In [60]:
lst.pop(0)

1

In [61]:
lst

[2, 3, 4]

### <span style="color:Green"> count():Calculates total occurrence of given element of List

In [62]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [63]:
#length:Calculates total length of List
len(lst)

6

In [64]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [65]:
##Min and Max
min(lst)

1

In [66]:
max(lst)

5

# <span style="color:Green">SETS

<span style="background:yellow"> A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [67]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [68]:
set_var={1,2,3,4,3}

In [69]:
set_var

{1, 2, 3, 4}

In [70]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

In [71]:
## Inbuilt function in sets

set_var.add("Hulk")

In [72]:
print(set_var)

{'IronMan', 'Hulk', 'Hitman', 'Avengers'}

In [73]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [74]:
set2.intersection_update(set1)

In [75]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [76]:
##Difference 
set2.difference(set1)

set()

In [77]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [78]:
## Difference update

set2.difference_update(set1)

In [79]:
print(set2)

set()

# <span style="color:Red">Dictionaries

<span style="background:yellow"> A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [80]:
dic={}

In [81]:
type(dic)

dict

In [82]:
type(dict())

dict

In [83]:
set_ex={1,2,3,4,5}

In [84]:
type(set_ex)

set

In [85]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [86]:
type(my_dict)

dict

In [87]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [88]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [89]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [90]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [91]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [92]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [93]:
my_dict['Car1']='MAruti'

In [94]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### <span style="color:Green"> Nested Dictionary

In [95]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [96]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [97]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [98]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [99]:
print(car_type['car1']['Mercedes'])

1960

# <span style="color:Blue"> Tuples
- Ordered collection of elements enclosed within(). 
- Tuple are inmutable ..We couldn't change any elemet after creating the tuple

In [100]:
names=("Muhammad" ,"Ahsan",109, 5.22, True , 5+3j)
names

('Muhammad', 'Ahsan', 109, 5.22, True, (5+3j))

In [101]:
type(names)

tuple

### Extract Indivisual elements from the tuple

In [102]:
names

('Muhammad', 'Ahsan', 109, 5.22, True, (5+3j))

In [103]:
names[1]

'Ahsan'

In [104]:
names[-1]

(5+3j)

In [105]:
names[0:3]

('Muhammad', 'Ahsan', 109)

## Modifying  a tuple
We can not Modify any tuple because Tuple is inmutable

In [106]:
names=("Muhammad" ,"Ahsan",109, 5.22, True , 5+3j)
names

('Muhammad', 'Ahsan', 109, 5.22, True, (5+3j))

In [107]:
# We can  not assign any value to the tuple because tuple is immutable

names[0]="Ali Raza"

TypeError: 'tuple' object does not support item assignment