# <span style="background:yellow">  Data structure in python

# <span style="color:Brown"> There are Four Types of Data Structure 
* 1- Tuple ,
* 2- Lists ,
* 3- Dictionary , 
* 4- Set

# <span style="color:Green"> 1- Tuple
- Ordered collection of elements enclosed within(). 
- Tuple are inmutable ..We couldn't change any elemet after creating the tuple

In [1]:
names=("Muhammad" ,"Ahsan",109, 5.22, True , 5+3j)
names

('Muhammad', 'Ahsan', 109, 5.22, True, (5+3j))

In [2]:
type(names)

tuple

### Extract Indivisual elements from the tuple

In [3]:
names

('Muhammad', 'Ahsan', 109, 5.22, True, (5+3j))

In [4]:
names[1]

'Ahsan'

In [5]:
names[-1]

(5+3j)

In [6]:
names[0:3]

('Muhammad', 'Ahsan', 109)

### Modifying  a tuple
- We can not Modify any tuple because Tuple is inmutable

In [7]:
names=("Muhammad" ,"Ahsan",109, 5.22, True , 5+3j)
names

('Muhammad', 'Ahsan', 109, 5.22, True, (5+3j))

In [8]:
names[0]="Ali Raza" # We can  not assign any value to the tuple because tuple is immutable

TypeError: 'tuple' object does not support item assignment

### Basic Tuple operations

In [9]:
# 1-  Find the length of the tuple

names=("Muhammad" ,"Ahsan",109, 5.22, True , 5+3j)
names

('Muhammad', 'Ahsan', 109, 5.22, True, (5+3j))

In [10]:
len(names)

6

In [11]:
# 2-  Concatinate the two tuples  Means Cobination of two tuple

a=(1,2,3)
b=(4,5,6)
a,b

((1, 2, 3), (4, 5, 6))

In [12]:
a+b # Concatinate the two tuple

(1, 2, 3, 4, 5, 6)

In [13]:
b+a

(4, 5, 6, 1, 2, 3)

In [14]:
# 3-  Repeating tuple elemets 

names=("Muhammad", "Ahsan", "Ali Raza")
names*2

('Muhammad', 'Ahsan', 'Ali Raza', 'Muhammad', 'Ahsan', 'Ali Raza')

In [15]:
# 4-  Repeatin and Concatinate of the tuples

a=("Ali", "Raza")
b=("Muhammad", "Ahsan")
a*2 + b*2

('Ali', 'Raza', 'Ali', 'Raza', 'Muhammad', 'Ahsan', 'Muhammad', 'Ahsan')

### Tuple Functions

In [16]:
# 1-  find Minimum Value from the Tuple

number=(1,2,3,4,5,)
min(number)

1

In [17]:
# 2- Find the Maximum value from the  tuple

number=(1,2,3,4,5,)
max(number)

5

# <span style="color:Green"> 2-  Lists
<span style="background:yellow">A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ] 
- Lists are Orderd collection of elements which are enclose in the [] braces
- Lists are Mutable we can Add or  remove elements from the lists after making a lists

In [18]:
lists=["Muhammad", "Ahsan", True, 12, 2.22, ]
lists

['Muhammad', 'Ahsan', True, 12, 2.22]

In [19]:
type(lists)

list

### Extracting Elements from the lists

In [20]:
lists

['Muhammad', 'Ahsan', True, 12, 2.22]

In [21]:
lists[1]

'Ahsan'

In [22]:
lists[0:2]

['Muhammad', 'Ahsan']

In [23]:
lists[0:5:2]

['Muhammad', True, 2.22]

### Modifying the lists

In [24]:
names=["Muhammd", "Ahsan" ,"Ali","Raza"]
names

['Muhammd', 'Ahsan', 'Ali', 'Raza']

In [25]:
# 1- Changing / Replacing the elements from the lists

names[3]="python is programming language"
names

['Muhammd', 'Ahsan', 'Ali', 'python is programming language']

In [26]:
# 2- Add new element into the lists with the help of append Method

names=["Muhammd", "Ahsan" ,"Ali","Raza"]
names

['Muhammd', 'Ahsan', 'Ali', 'Raza']

In [27]:
names.append("Numpy is the Libraries of Python") # add element by using append method
names

['Muhammd', 'Ahsan', 'Ali', 'Raza', 'Numpy is the Libraries of Python']

In [28]:
names

['Muhammd', 'Ahsan', 'Ali', 'Raza', 'Numpy is the Libraries of Python']

In [29]:
names.append(" My name is muhammad ahsan", "Python is easy to learn") # we can  add one element by "append" method
names

TypeError: append() takes exactly one argument (2 given)

In [30]:
# 3- Pop the last element from the list

my_name=["Muhammd", "Ahsan" ,"Ali","Raza"]
my_name

['Muhammd', 'Ahsan', 'Ali', 'Raza']

In [31]:
my_name.pop()

'Raza'

In [32]:
my_name # List after pop

['Muhammd', 'Ahsan', 'Ali']

In [33]:
# 4- Reverse Elements of the List

w=[1,2,3,4,5]
w

[1, 2, 3, 4, 5]

In [34]:
w.reverse()
w

[5, 4, 3, 2, 1]

In [35]:
# 5- Sorting the list elements

s=["b","a","c","f","d","e",]
s

['b', 'a', 'c', 'f', 'd', 'e']

In [36]:
s.sort()

In [37]:
s

['a', 'b', 'c', 'd', 'e', 'f']

In [38]:
# 6- insert elemet in the spacific index 

q=[1,2,3,4,]
q

[1, 2, 3, 4]

In [39]:
q.insert(2, "Muhammad Ahsan")
q

[1, 2, 'Muhammad Ahsan', 3, 4]

### List Basic Operations

In [40]:
# 1- Concatinate the list

list1=[1,2,3,]
list2=[4,5,6,]
list1 , list2

([1, 2, 3], [4, 5, 6])

In [41]:
list1 + list2

[1, 2, 3, 4, 5, 6]

In [42]:
# 2- repeating the elements of the list

list3=["Muhammad","Ahsan"]
list3

['Muhammad', 'Ahsan']

In [43]:
list3*3 + list1

['Muhammad', 'Ahsan', 'Muhammad', 'Ahsan', 'Muhammad', 'Ahsan', 1, 2, 3]

# <span style="color:Green">  3- Dictionary
<span style="background:yellow"> A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values. 

- Dictionary is an unorderd collection of key value value pair enclosed in {}  braces
- Dictionary is mutable

In [44]:
 d1={"Banana": 100,"apple":200, "mango":100,"Guava": 50, "Banana": 100,}
d1

{'Banana': 100, 'apple': 200, 'mango': 100, 'Guava': 50}

In [45]:
type(d1)

dict

### Extract Keys and Values from the Dictionary

In [46]:
# 1- extract Keys from the  dictionary

fruits={"apple":200, "mango":100,"Guava": 50, "Banana": 100,}
fruits.keys()

dict_keys(['apple', 'mango', 'Guava', 'Banana'])

In [47]:
# 2- Extract values from the Dictionary

fruits={"apple":200, "mango":100,"Guava": 50, "Banana": 100,}
fruits.values()

dict_values([200, 100, 50, 100])

### modifying the Dictionary

In [48]:
# 1 - Add new keys and values in the existing Dictionary

fruits={"apple":200, "mango":100,"Guava": 50, "Banana": 100,}  
fruits["Pineapple"]=100
fruits

{'apple': 200, 'mango': 100, 'Guava': 50, 'Banana': 100, 'Pineapple': 100}

In [49]:
# 2- Changing an existing element

fruits={"apple":200, "mango":100,"Guava": 50, "Banana": 100,}
fruits["apple"]=50
fruits

{'apple': 50, 'mango': 100, 'Guava': 50, 'Banana': 100}

### Dictionary Function

In [50]:
# 1- update One  Dictionary elemet with Another Element

Fruits={"apple": 100, "Banana":50,}
New_fruits={"Orange" :70, "Mango" :60}

Fruits.update(New_fruits)
Fruits

{'apple': 100, 'Banana': 50, 'Orange': 70, 'Mango': 60}

In [51]:
# 2 - poping an element

fruit={"apple":100, "mango" :50, "orange" :40, "mango" :50,}
fruit.pop("apple")

100

In [52]:
fruit

{'mango': 50, 'orange': 40}

# <span style="color:Red"> 4- Sets
<span style="background:yellow"> A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table
- Set is unorderd and unindexed collection of elements Enclosed in the {} braces..
- Duplication is Not Allowed in the Set

In [53]:
# duplicates Don't store into the sets
s1={"My Name is Muhammad Ahsan",1, False,8.10,1,} 
s1

{1, 8.1, False, 'My Name is Muhammad Ahsan'}

In [54]:
type(s1)

set

### Set Operation

In [55]:
# 1- Update one Dictionary Element with Other Element

s2={1,"ahsan", False, 2.2}
s2.add("Muhammad")
s2

{1, 2.2, False, 'Muhammad', 'ahsan'}

In [56]:
# 2- Update Muliple elements in to the Set

s3={1,"ahsan", False, 2.2}
s3.update(["Python is easy to learn", "Muhammad ahsan", 10, 30,])

In [57]:
s3

{1, 10, 2.2, 30, False, 'Muhammad ahsan', 'Python is easy to learn', 'ahsan'}

In [58]:
# 3-  Removing an element

s7={1,"ahsan", False,True, 2.2}
s7.remove(1)

In [59]:
s7

{2.2, False, 'ahsan'}

In [60]:
s7.remove("ahsan")

In [61]:
s7

{False, 2.2}

### Set Function

In [62]:
# 1- union of Two sets

set9={1,2,3}
set6={"Muhammad Ahsan", 10, 14}
set9.union(set6)

{1, 10, 14, 2, 3, 'Muhammad Ahsan'}

In [63]:
# 2- Intersection of teo sets

v={13,22,31,"Muhammad Ahsan", 40,"Ali Raza" }
v

{13, 22, 31, 40, 'Ali Raza', 'Muhammad Ahsan'}

In [64]:
v1={"Muhamad Ahsan", 13, 10, 22, 40,}
v1

{10, 13, 22, 40, 'Muhamad Ahsan'}

In [65]:
v.intersection(v1)

{13, 22, 40}