# <span style="color:Brown"> If Statement

 pseudo code
 
 if (Condition){
 statement to be exicuted...
 }
 else{
 statement to be Exicuted
 }

In [18]:
i=1
if i<10:
    print(True)
else:
    print("Result is Not Found")
    
m=10
if m<11:
    print(m)
else:
    print("Result not found")  
    
    
s=1
if s>=2:
    print(s)   
elif s<2:
    print("S is greater")

True
10
S is greater

In [17]:
print("First Twenty ODD numbers")
for p in range(0,20):
    if p %3==0:
        print(p)
        
print("First Ten Even numbers")       
for q in range(0,11):
    if q%2==0:
        print(q)

First Twenty ODD numbers
0
3
6
9
12
15
18
First Ten Even numbers
0
2
4
6
8
10

In [3]:
a=10
b=20
a,b

(10, 20)

In [7]:
if a>b: # is statement is fase it could not  be exicute
    print("B is greater Then A")

In [9]:
if a>b:
    print("A is greater Then B")
else:
    print("B is greater the A")

B is greater the A

In [10]:
a=10
b=20
c=30

In [11]:
if (a>b) & (a>c):
    print("A is the Greatest")
elif (b>a) & (b>c):
    print("B is the Greatest")
else:
    print(" C is the Greatest")

 C is the Greatest

## <span style="color:Brown"> Use of if statement with tuple

In [17]:
tup1=("a","b","c")

In [21]:
if "q" in tup1:
    print("A is Present in tup1")
else:
    print("Value A is not present in tup1")

Value Z is not present in tup1

In [23]:
 # use of  if statement with List

In [24]:
L1=["a","b","c"]

In [25]:
if L1[1]=="b":
    L1[1]="Ahsan"

In [26]:
L1

['a', 'Ahsan', 'c']

In [27]:
 # use of  if statement with Dictionary

In [46]:
d1={"mango": 100, "apple": 150, "k3":200}
d1

{'mango': 100, 'apple': 150, 'k3': 200}

In [47]:
if "mango" in d1:
    print("Mango is present in d1")

Mango is present in d1

In [49]:
d1

{'mango': 100, 'apple': 150, 'k3': 200}

In [51]:
if d1["k3"]== 200:
    d1["k3"]=d1["k3"]+100

In [52]:
d1

{'mango': 100, 'apple': 150, 'k3': 300}

# <span style="color:Green"> Looping statements
- Looping Statement is used to Repeat any Task multiple time

## While loop

In [1]:
a=1
while(a<=10):
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [2]:
# Print Table  with the help of  while loop

i=1
n=2
while(i<=10):
    print(n ,"*", i, "=", n * i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [3]:
# Use of While loop  into the list

In [4]:
L2=[1,2,3,4,5]
L2

[1, 2, 3, 4, 5]

In [5]:
i=0

In [6]:
while i<len(L2):
    L2[i]=L2[i]+50
    i=i+1

In [7]:
L2

[51, 52, 53, 54, 55]

# <span style="color:Brown">FOR LOOP

In [19]:
# for loop in C++  For (Declaration , Condition , increment)
#for (a=1; a<11; a++){
 #   printf('%d' , a)
#}

# for loop in Python
for b in range(0 ,6):
    print(b)

0
1
2
3
4
5

In [17]:
L2=["Mango","Apple", " orange"]

In [20]:
for i in L2:
    print(i)

Mango
Apple
 orange

In [36]:
a=  ["Black","Red", " Blue",]
b = ["laptop","chair","Mobile",]
a, b

(['Black', 'Red', ' Blue'], ['laptop', 'chair', 'Mobile'])

In [37]:
for i in a:
    for j in b:
        print(i ,j)

Black laptop
Black chair
Black Mobile
Red laptop
Red chair
Red Mobile
 Blue laptop
 Blue chair
 Blue Mobile

# <span style="color:Green">Function
- Function in Real Life
- Python Function
- Functiio is block of code that can be  Perform Multiple Tasks

In [8]:
def name():
    print("My name is Muhammad Ahsan")

In [9]:
name()

My name is Muhammad Ahsan

In [10]:
def add_10(x):
    return x+20

In [11]:
add_10(50)

70

In [12]:
def Odd_Even(x):
    if x%2==0:
        print(x ," is Even")
    else:
        print(x , " Is Odd")

In [13]:
Odd_Even(21)

21  Is Odd

# <span style="color:Green">  Lamda Function

In [56]:
d=lambda x: x*x*x

In [57]:
d(3)

27

In [58]:
d(5)

125

In [59]:
# lambda is used with other Function

In [60]:
# lambda with fiter  function

In [62]:
li=[2,3,4,54,55,67,76,53,22,]

final_list=list(filter(lambda x:(x%2!=0),li ))

In [63]:
final_list

[3, 55, 67, 53]

In [64]:
# Lambda with map function

In [66]:
l4=[1,2,3,4,5,6,7,8,9,10]
list_final=list(map(lambda x: x*2,l4))

In [67]:
list_final

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

###  Lambda with Reduce Fuction

True
10
S is greater

0
1
2
3
4
5

In [70]:
from functools import reduce

In [74]:
sum=(reduce(lambda x,y: x+y, l4))

In [75]:
sum

55